
<div class="row">
    <form (ngSubmit)='login()' [formGroup]='loginform' novalidate class="form">
        <input formControlName='email' type="text" class="form-controll" placeholder="Enter email"><br><br>
        <div class="alert alert-danger" *ngIf="loginform?.get('email')?.hasError('required')&&loginform?.get('email')?.touched">Email Required</div>
        <input formControlName='password' type="text" class="form-controll" placeholder="Enter password"><br><br>
        <div class="alert alert-danger" *ngIf="!loginform?.get('password')?.valid &&loginform?.get('password')?.touched">Password Required</div>
        <input formControlName='age' type="number" class="form-controll" placeholder="Enter Age"><br><br>
        <div class="alert alert-danger" *ngIf="!loginform?.get('age')?.dirty && loginform?.get('age')?.errors && loginform?.get('age')?.errors?.ageerror">Age Should be between {{minage}} to {{maxage}}</div>
        <input formControlName='phone' type="number" class="form-controll" placeholder="Enter Phone Number"><br><br>
        <div class="alert alert-danger" *ngIf="loginform?.get('phone')?.hasError('required') && loginform?.get('phone')?.touched ">Phone Number Required</div>
        <br>
        <label for="" class="control-label">Send Notification</label>
        <br>
        <label for="" class="radio-inline">
            <input type="radio" value='email' formControlName="notification">Email
        </label>
        <label for="" class="radio-inline">
            <input type="radio" value='phonenumber' formControlName="notification">Phone
        </label><br>
        <br>
        <button type="submit" [disabled]="loginform.invalid" class="btn btn-info">Login</button>
            <button type="button" (click)='reset()' class="btn btn-danger">Reset</button>
    </form>
    
</div><br>