<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form (ngSubmit)='login()' [formGroup]='loginform' novalidate class="form">
            Email : <input formControlName='email' type="text" class="form-control" placeholder="Enter email">
            <div class="alert alert-danger"
                *ngIf="loginform?.get('email')?.hasError('required')&&loginform?.get('email')?.touched">Email Required
            </div>
            <br><br>
            Password : <input formControlName='password' type="text" class="form-control" placeholder="Enter password">
            <div class="alert alert-danger"
                *ngIf="!loginform?.get('password')?.valid &&loginform?.get('password')?.touched">Password Required</div>
            <br><br>
            Age : <input formControlName='age' type="number" class="form-control" placeholder="Enter Age">
            <div class="alert alert-danger"
                *ngIf="!loginform?.get('age')?.dirty && loginform?.get('age')?.errors && loginform?.get('age')?.errors?.ageerror">
                Age Should be between {{minage}} to {{maxage}}</div><br><br>
            Phone Number : <input formControlName='phonenumber' type="number" class="form-control"
                placeholder="Enter Phone Number">
            <div class="alert alert-danger"
                *ngIf="loginform?.get('phonenumber')?.hasError('required') && loginform?.get('phonenumber')?.touched && loginform?.get('phonenumber')?.dirty && loginform?.get('phonenumber')?.errors">
                Phone Number Required</div><br>
            <br>
            <label for="" class="control-label">Send Notification</label>
            <br>
            <label for="" class="radio-inline">
                <input type="radio" value='email' formControlName="notification">Email
            </label>
            <label for="" class="radio-inline">
                <input type="radio" value='phonenumber' formControlName="notification">Phone
            </label><br>
            <br>
            <button type="submit" [disabled]="loginform.invalid" class="btn btn-info">Login</button>
            <button type="button" (click)='reset()' class="btn btn-danger">Reset</button>
        </form>
    </div>

</div>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Arpit:

    </div>
    <!-- Copyright -->

</footer>