
<h1 class="text-center">Directive Demo</h1>
<hr>
<br>
<h2>Enter Color And Hover Mouse To Chnage Color Of Hello World</h2><hr><br>
<div class="row">
   <div class="col-md-4">

       <input type="text" class="text" [(ngModel)]='color'>
    </div>
    <div class="col-4-md"></div>
    <div class="col-4-md">
        <div appChangeColor [color]='color'>
            <h2>
                Move Mouse Over Me
            </h2>
        </div>
    </div>
    
</div>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Arpit: Created custom attribute directive to change the color of the property on mouse hover.
      
    </div>
    <!-- Copyright -->
  
  </footer>