<div class="container" class="col-md-5">
    <table class="table">
        <thead class="table table-dark">
            <tr>
                <th>Id </th>
                <th>Title</th>
                <th>Price</th>
                <th>ExpiryDate </th>
                <th>Quantity</th>
                <th>IsAvaliable</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{p.Id}}</td>

                <td> {{p.Title}}</td>

                <td> {{p. Price | currency:'INR'}}</td>

                <td> {{p.ExpiryDate |date}}</td>

                <td> {{p.Quantity}}</td>

                <td>
                    <ng-container *ngIf="p.IsAvaliable; then instock else outofstock">

                    </ng-container>
                    <ng-template #instock>
                        <i class="fa fa-check" aria-hidden="true"></i>

                    </ng-template>
                    <ng-template #outofstock>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </ng-template>
                </td>
            </tr>
        </tbody>

    </table>
</div>