<div class="container" class="col-md-5">
    <table class="table">
        <thead class="table table-dark">
            <tr>
                <th>Id </th>
                <th>Title</th>
                <th>Price</th>
                <th>ExpiryDate </th>
                <th>Quantity</th>
                <th>IsAvaliable</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{p.Id}}</td>

                <td> {{p.Title}}</td>

                <td> {{p. Price}}</td>

                <td> {{p.ExpiryDate}}</td>

                <td> {{p.Quantity}}</td>

                <td> {{p.IsAvaliable}}</td>
            </tr>
        </tbody>

    </table>
</div>