<h1 class="text-center">Error Handler (Press F12)</h1>
<hr>
<hr>
<br>

<!-- <img src=".//assets//back.jpg" > -->
<div class="row">
    <div class="col-md-5">
<h2 class="text-center">Creating Error Handler Service</h2>
        <img src=".//assets//Ownerrorhandelerservice.png" alt="errorhandelerservice">
    </div>
    <div class="col-md-2">
        
    </div>
    <div class="col-md-5">
<h2 class="text-center">Creating Error Handler Service</h2>
        <img src=".//assets//class to create error.png" alt="class to genrate error">
    </div>
</div>
<br>
<div class="class">
    <h4>Click Here And Have Output In Log :                             <button class="btn btn-warning " (click)="getError()"  >Handel Error</button></h4>
</div>
<footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">
        NOTE: This is a simple example depicting the use of errorhandler service, By using this we can manipulate the error logs according to our business requirements
      </div>
</footer>