
<div class="container">
<h2 class="text-center">SUBJECT : Demonstration of different types of  Subject in  RxJs</h2>
<hr>
<hr>

<ul class="nav nav-pills">
<li class="nav-item">
<a class="nav-link  nav-space text-white"style="background-color: #b86c09;"routerLink='/RxJsSubject/subjectdefault'>Subject</a>
</li>
<li class="nav-item ">
<a class="nav-link  nav-space text-white"style="background-color: #b86c09;"routerLink='/RxJsSubject/subjectbehaviour'>Behavour Subject</a>
</li>
<li  class="nav-item ">
<a class="nav-link  nav-space text-white"style="background-color: #b86c09;"routerLink='/RxJsSubject/subjectreplay'>Replay Subject</a>
</li>
<li class="nav-item ">
<a class="nav-link  nav-space text-white"style="background-color: #b86c09;"routerLink='/RxJsSubject/subjectasync'>Async Subject</a>
</li>
</ul>
 
<br>
<br>
 
<router-outlet></router-outlet>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Arpit : If button seems to get stucked then click on RxJS Subject then again click on any subject name. <br>
      Because page need to be refreshed before moving on demo of next subject.
      
    </div>
    <!-- Copyright -->
  
  </footer>