<h1 class="title">{{title}}</h1>
<h4 class="title">Enter heigth and width</h4>
<div class="div1">
  <input type="number" placeholder="heigth" class="class" [(ngModel)]='a' >
  <br>
  <input type="number" placeholder="width" class=class [(ngModel)]='b' >
  <br>
</div>
<div class="div2">
  <img [src]="imgSource" alt="Eye" class="class" [style.height.px]='a' [style.width.px]='b' (mouseenter)='changeTshirtMouseExit()' (mouseleave)='changeTshirtMouseEnter()'>
  <br>
  <br>
  <button class="btn btn-danger" id="btn" (click)="SetWidth()" > defalut </button>
  <!-- <img src=".//assets//back.jpg" > -->
  
</div>
<footer class="page-footer font-small blue pt-4">
  <div class="footer-copyright text-center py-3">
    NOTE: This is an example of Data Binding where we have provided two input fields for entering height and width of an image
    by entering the dimension the size of image will change accordingly, also when we hover the curson on image, a new image will be visible.
    </div>
</footer>