<h1 class="text-center">Of</h1>
<h1 class="text-center">My All Angular Projects</h1>
<hr>
<hr>

<div class="row">
<div class="col-md-2">
    <img src=".//assets//angular.png" alt="angular">
</div>
<div class="col-md-1"></div>
<div class="col-md-6 text center">
    <h4>Name : Arpit Pandey </h4>
    <h4>Designation : ASET </h4>
    <h4>Company :TAAZAA</h4>
</div>
<div class="col-md-1"></div>
<div class="col-md-2">
    <img src="" alt="">
</div>
</div>
<br>
<hr><hr>
<br>
<h2 class="text-center">Index</h2>

<ol>
    <li> Data Binding</li>
    <li> Structural Directive</li>
    <li> Product</li>
    <li> Shared Data</li>
    <li> Global Error Handler</li>
    <li> Attribute Directive</li>
</ol>
