<h1 class="title">{{title}}</h1>
<h4 class="title">Enter heigth and width</h4>
<div class="div1">
  <input type="number" placeholder="heigth" class="class" [(ngModel)]='a' than />
  <br>
  <input type="number" placeholder="width" class=class [(ngModel)]='b' than />
  <br>
</div>
<div class="div2">
  <img [src]="imgSource" alt="Eye" class="class" [style.heigth.px]=a [style.width.px]=b
    (mouseenter)='changeTshirtMouseExit()' (mouseleave)='changeTshirtMouseEnter()'>
  <!-- <img src=".//assets//back.jpg" > -->
</div>